@import '../../../../../assets/styles/colors.scss';

:host {
    #invitation-card {
        display: flex;
        justify-content: center;

        #img {
            object-fit: cover;
            max-width: 520px;
            width: 100%;
            margin: auto;
        }
    }

    .row {
        max-width: 1200px;
        margin: auto;
        align-items: flex-start;

        &.cards {
            margin-top: 32px;
        }
    }

    .map-container {
        border-radius: 8px;
        background-color: white;
        width: 80%;
        max-width: 800px;
        margin: 32px auto;
        overflow: hidden;

        .map {
            height: 280px;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;

            .actions {
                display: flex;
                justify-content: flex-end;

                a {
                    display: block;
                    flex-shrink: 0;
                    white-space: nowrap;
                }
            }

            @media all and (max-width:500px) {
                flex-direction: column;

                .actions {
                    margin-top: 4px;
                    width: 100%;
                    align-items: flex-end;
                }
            }
        }
    }

    #form-divider {
        width: 640px;
        max-width: 65%;
        margin: 32px auto;
    }

    .confirm {
        padding-bottom: 32px;
        max-width: 800px;
        width: 85%;
        margin: auto;

        .header {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 16px;
            text-align: center;

            .title {
                font-size: 48px;
            }
        }

        form {
            padding: 32px;
            background-color: white;
            border-radius: 12px;

            app-fieldset {
                margin-bottom: 8px;
            }

            .tagSelector  {
                margin-bottom: 8px;
                
                label {
                    margin-bottom: 4px;
                    display: block;
                }
            }

            .chbox {
                display: flex;
                align-items: center;
                margin: 8px 0;

                #tc-info {
                    cursor: pointer;
                    background-color: transparent;
                    border: none; outline: none;
                    color: darkslategray;
                    transition: all .2s;

                    &:hover { color: #e4c200; }
                }
            }

            #confirm-btn {
                margin-top: 16px;
            }
        }
    }

    footer {
        padding: 32px;
        background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.1));

        .row {
            max-width: 100%;
            text-align: center;
        }

        #mark {
            color: darkslategray;
        }

        a {
            color: darkslategray;
            font-size: 16px;
            transition: color .2s;
            
            &:not(:last-child) { margin-right: 8px; }

            &:hover {
                color: tomato;
            }
        }
    }
}