<div id="invitation-card">
    <img src="../../../../../assets/invitation.jpg" id="img">
</div>

<div class="row cards">
    <app-info-card fade-in
                   class="col-md-3 col-sm-6 col-12"
                   iconName="party"
                   title="Fiesta"
                   description="21:00 hs">
    </app-info-card>
    <app-info-card fade-in
                   class="col-md-3 col-sm-6 col-12"
                   iconName="map"
                   title="Ubicación"
                   description="Salón Marquis">
    </app-info-card>
    <app-info-card fade-in
                   class="col-md-3 col-sm-6 col-12"
                   iconName="dress"
                   title="Código de vestimenta"
                   description="Formal">
    </app-info-card>
    <app-info-card fade-in
                   class="col-md-3 col-sm-6 col-12"
                   iconName="bus"
                   title="Transporte">
        <p>Desde Venancio Benavidez 3612, San Pablo (20hs)</p>
        <p>Solo adolescentes</p>
    </app-info-card>
</div>

<div fade-in
     class="map-container shadow-sm-offset">
    <div class="map">
        <app-map [options]="mapOptions"></app-map>
    </div>
    <div class="footer">
        <p>Salón Marquis, Ruta Int. Km 25, Montevideo, Uruguay</p>
        <div class="actions">
            <a class="btn btn-primary"
               href="https://goo.gl/maps/8ubqfqV8mdfmhtJR6"
               target="_blank">
                <app-icon icon="marker"></app-icon>
                Cómo llegar
            </a>
        </div>
    </div>
</div>

<div class="row cards">
    <app-info-card fade-in
                   class="col-sm-6 col-12"
                   iconName="gift"
                   title="B.R.O.U.">
        <p>CA Pesos Uruguayos 11055708700001</p>
        <p>Bruna Padilla</p>
    </app-info-card>
    <app-info-card fade-in
                   class="col-sm-6 col-12"
                   iconName="gifts"
                   title="B.R.O.U.">
        <p>CA Dólares 11042870200001</p>
        <p>Rossana Martino</p>
    </app-info-card>
</div>

<hr fade-in id="form-divider">

<div class="confirm">
    <div class="header">
        <h3 fade-in
            class="title">Confirmá tu asistencia</h3>
        <p fade-in>Antes del 20 de febrero de 2023</p>
    </div>
    
    <form class="row shadow-sm"
          [formGroup]="form"
          (ngSubmit)="sendAsist()">
        <app-fieldset fade-in
                      class="col-sm-6 col-12"
                      name="Nombre"
                      formControlName="firstName"
                      type="text"
                      placeholder="Pedro">
        </app-fieldset>
        <app-fieldset fade-in
                      class="col-sm-6 col-12"
                      name="Apellido"
                      formControlName="lastName"
                      type="text"
                      placeholder="Rodríguez">
        </app-fieldset>
        <app-fieldset fade-in
                      class="col-12"
                      name="Celular"
                      formControlName="phone"
                      type="phone"
                      placeholder="098765432">
        </app-fieldset>
        <app-fieldset fade-in
                      class="col-12"
                      name="Cédula de identidad"
                      formControlName="dni"
                      type="text"
                      placeholder="1.234.567-8">
        </app-fieldset>
        <div fade-in
             class="tagSelector">
            <label>Menú especial</label>
            <app-tag-selector [tags]="foodTags"
                              (tagClicked)="onTagClicked($event)">
            </app-tag-selector>
        </div>
        <div fade-in
             class="chbox">
            <input id="bus"
                   type="checkbox"
                   formControlName="bus">
            <label for="bus">Voy a ir en el bus (solo adolescentes).</label>
        </div>
        <div fade-in
             class="chbox">
            <input id="tc"
                   type="checkbox"
                   formControlName="allowTc">
            <label for="tc">Autorizo el uso de mis datos según la <a href="https://www.impo.com.uy/bases/leyes/18719-2010">ley 18.719</a>.</label>
        </div>
        <button class="btn btn-primary"
                [disabled]="form.invalid">Enviar</button>
        <p class="error">{{ apiError }}</p>
    </form>
</div>

<footer>
    <div class="row">
        <div>
            <h5 id="mark"><b>Página creada por Nicolás Villar</b></h5>
            <a href="https://www.linkedin.com/in/nicol%C3%A1s-villar"
               target="_blank">
                <app-icon icon="linkedin"></app-icon>
            </a>
            <a href="https://github.com/nicoovillarr"
               target="_blank">
                <app-icon icon="github"></app-icon>
            </a>
            <a href="https://www.upwork.com/freelancers/~01612f883cbdd36d42"
               target="_blank">
                <app-icon icon="briefcase"></app-icon>
            </a>
        </div>
    </div>
</footer>